* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 50px auto;
    font-family: 'Press Start 2P', 'VT323', monospace;
    border: 1px solid transparent;
}

.container img {
    position: absolute;
    height: 100px;
    top: -80px;
    left: 25%;
    z-index: 1;
}

h1 {
    /* border: 1px solid black; */
    margin: 50px 0 0 0;
    text-align: center;
    position: relative;
    z-index: 9;
}

.level {
    margin: 20px auto;
    text-align: center;
}

.level button {
    margin: 5px 10px;
    padding: 7px 15px;
    background-color: #6B7AA1;
    font-family: 'Press Start 2P';
    outline: none;
    border: 1px solid grey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.level button.active {
    background-color: #167ccfd5;
}

.info {
    text-align: center;
    margin: 5px auto;
}

table {
    background: #929196;
    margin: 20px auto;
    border-collapse: separate;
    /* 使用分离边框模型 */
    border-spacing: 0;
    /* 确保单元格之间没有额外的间距 */
}

table tr>td {
    width: 24px;
    height: 24px;
    background: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;
}

.bomb {
    width: 24px;
    height: 24px;
    background: url('../img/bomb.png') center / contain no-repeat;
    opacity: 0.5;
}

/* .canFlag{

} */